*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;

}
h1{
    color: aqua;
}
p{
    text-align: center;
}
.curency{
    padding: 20px;
    display: flex;
    flex-direction: row;
}
select{
    padding: 10px;
    font-size: 1px solid #dedede;
    font-size: 16px;
    background: transparent;
}
input{
    border: none;
    background: transparent;
    font-size: 30px;
    text-align: right;
}
select:focus, input:focus{
   outline: none;
}
@media(max-width:600px){
    input{width: 200px;}
    p{padding: 40px;}
}